<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type = "text/css" href="/css/about.css">
<style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;

}
.bgimg-1 {
  background-image: url("/img/waverly.jpeg");
  position: relative;
  min-height: 100%;
}

 .transparent{
    background-color: rgba(74, 79, 85, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.caption span.border {
  /*background-color: #111;*/
  color: #fff;
  font-weight: bolder;
  padding: 18px;
  font-size: 40px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
</style>
</head>
<body>

<div class="bgimg-1">
  <div class = "transparent">
  <div class="caption">
    <span class="border">About Us</span>
  </div>
</div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">NYU Course Recommendation System</h3>
  <p> A typical university student will face the daunting task of choosing which classes to take, often with very limited data. Yet the quality of a class has a strong impact on their overall university experience. The professor is a significant factor in course satisfaction but finding data on a professor can be arduous. Popular sites like RateMyProfessor.com provide incomplete data from a self-selected group of students that have the willingness and motivation to write a review. Fortunately, many universities have internal course faculty evaluations (CFEs) that students fill out at the end of every semester which is of higher quality and quantity. But even with CFE data, students must simultaneously consider multiple variables such as time, difficulty, topic interest to make an optimal decision. Given humans’ inherent difficulty in juggling multiple variables, students are primed to make bad decisions. They take classes that they later regret and could have avoided if only they had full knowledge of all of their options. Poor class choices are expensive in both tuition and time. This project aims to solve the problem of evaluating which class to take under limited and imperfect information by generating recommendations through predictive analytics models, ultimately proposing a better schedule than what the student would have generated otherwise.</p>
</div>



<div class="bgimg-1">
  <div class="transparent">
    <div class="caption">
      <span class="border"></span>
    </div>
  </div>
</div>

</body>
</html>