
<link rel = "stylesheet" href = "stylesheets/forum.css">
<script src="javascripts/main.js"></script>


<h1>Secret Room</h1>
<h3>the place for you to speak out your pressure! </h3>
<h4>Click on the black box to reveal the words temporarily</h4>


<div id="messages"></div>


<h3>Logged in as: <div id = "name">{{userNow}}</h3>


<form method="POST" action="">
		<textarea type="text" rows="4" cols="50" id="message" placeholder="message" value=""></textarea>	
		<input type="hidden" id="from" value={{userNow}}>	
		<input type="hidden" id="gender" value={{userGender}}>
		<input type="submit" value = 'submit'>	
</form>

<script>


	function removeName(username, userGender){
		const p = new User(username, userGender);
		return p.getAonymous();

	}


class User {


	  constructor(username, userGender) {

	    this.username = username;
	    this.userGender = userGender;

	  }

	  getInfo(){	
	  	return 'Submitted as Name: '+ this.username + ", " + "Gender: "+ this.userGender;
	  }
	  getAnonymous(){
	  	return 'anonymous user';
	  }


 
}








</script>