<h2>Welcome!</h2>

{{#if notLoggedIn}}
<a href="/login">Log In</a> or <a href = "/register">Register</a>

{{else}}
<div class = 'text'>logged in as {{user}}</div>
<br>

<a href="/list">Click to view the to do list</a>



{{/if}}



