<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>NYU Course Recommendation System</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a class="gn-icon" href="/about"><i style = "padding: 0 24.85px 0 24.85px " class="fa fa-question" aria-hidden="true"></i>About</a></li>
								<li><a class="gn-icon" href="/profile"><i style = "padding: 0 23.57px 0 23.57px" class="fa fa-user" aria-hidden="true"></i>User Profile</a></li>
								<li>
									<a class="gn-icon gn-icon-archive" href="/question">Questionnaire</a>

								</li>
								<li>
									<a class="gn-icon" href="/transcript"><i style = "padding: 0 18.85px 0 18.85px " class="fa fa-graduation-cap" aria-hidden="true"></i>Transcript</a>

								</li>
								<li><a class="gn-icon gn-icon-article" href="/recommend" >Recommendation</a></li>
								<li>
									<a class="gn-icon " href="/logout"><i style = "padding: 0 21.64px 0 21.64px;" class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a>

								</li>
							</ul>
						</div>
					</nav>
				</li>
			</ul>

		</div>

			{{{body}}}

		<script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>
