<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title>Questionnaire</title>
	  <link rel="stylesheet" href="/stylesheets/questionnaire.css">
   </head>

<body>
	  <h1 class = "header" style="font-weight: bolder">User Profile</h1>
  
  
  <form method = "POST" action = "/question">
	    <h1>Starting by filling in the following questions: </h1>
	    
    <div class="contentform">
    
    	<div class="left">
			      <div class="form-group">
			        <p class = "title">Firstname<span>*</span></p>
				        <input class = "textbox" type="text" name="firstname" data-rule="required"/>
                <div class="validation"></div>
       </div> 

            <div class="form-group">
            <p class = "title">Lastname<span>*</span></p>
            
				<input class = "textbox" type="text" name="lastname" data-rule="required"/>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p class = "title">What Year Are You In?<span>*</span></p>	
               
		
			  <input type="radio" name="year" value="freshman"> freshman<br>
			  <input type="radio" name="year" value="sophomore"> sophomore<br>
			  <input type="radio" name="year" value="junior"> junior<br>
			  <input type="radio" name="year" value="senior"> senior

                <div class="validation"></div>
			</div>	

			<div class="form-group">
			<p class = "title">What is your GPA? <span>*</span></p>
			
				<input class = "textbox" type="text" name="gpa" data-rule="required"/>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p class = "title">What is your major?<span>*</span></p>
				<input type="text" class = "textbox" name="major" data-rule="required"/>
                <div class="validation"></div>
			</div>

		



	</div>

	<div class="right">	

			<div class="form-group">
			<p class = "title"> How many hours do you expected to spend on study per week?</p>
				<input class = "textbox"type="text" name="hour" data-rule="required"/>
                <div class="validation"></div>
			</div>	

			<div class="form-group">
			<p class = "title">Do you like challenging class?</p>	
			<input type="radio" name="challenge" value="yes"> YES<br>
			<input type="radio" name="challenge" value="no"> NO
			<div class="validation"></div>
			</div>

			<div class="form-group">
			<p class = "title"> Are you only interetsed in your major course?</p>
				<input type="radio" name="extra" value="yes"> YES<br>
				<input type="radio" name="extra" value="no"> NO
               <div class="validation"></div>
			</div>

			<div class="form-group">


			<p class = "title">If you choose NO for above question, what are the other subjects you will be interested in? (Maximum 3 subjects)<span>*</span></p>	
			
                <input class = "textbox" type="text" name="subject1" data-rule="required"/>
                <input class = "textbox" type="text" name="subject2" data-rule="required"/>
                <input class = "textbox" type="text" name="subject3" data-rule="required"/>
                <div class="validation"></div>
			</div>
		
			
	</div>
	</div>
		<button type="submit" class="submit-button">Send</button>
	
</form>	

  
</body>
</html>