<div class = 'information'>
	<h2>Register</h2>
	{{message}}
	<form method="POST" action="" class="form-signin">
			<input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
			<input name="password" type="password" class="form-control" placeholder="Password" required autofocus>
			<input type="submit" value="Register">	
	</form>

	<br>
	<div id = "button">
	<a href = "/"><button type="button">GO BACK TO THE HOME PAGE</button></a>
	</div>
</div>
