<form method = "POST" action = "/question">
		    <h1>Starting by filling in the following questions: </h1>

	    

				      <div class="form-group">
				        <p class = "title">Firstname<span>*</span></p>
					        <input class = "textbox" type="text" name="firstname" data-rule="required"/>
	                <div class="validation"></div>


	<button type="submit" class="submit-button">Send</button>
</form>
	