body{
	margin:0;
	color:#e2e1dd;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	/*text-align: center;*/
	width:100%;
	margin:auto;
	max-width:1480px;
	min-height:1024px;

	position:relative;
	background:url("/img/waverly.jpeg");
	/*opacity: */
	background-size: 1480px 1024px;
    background-repeat: no-repeat;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:26%;
	height:100%;
	position:absolute;
	padding:90px 20px 50px 27px;
	background:rgba(87,6,140,.9);
	/*float: right;*/
	z-index: 100;


}
#introduction{
	width:100%;
	height:100%;
	background:rgba(170, 170, 170,.75);
	font-size: 80px;
	/*font-family: 'Gloria Hallelujah', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	padding: 0;
	margin:0;
	position: fixed;
	margin-left: 26%;
	z-index: 50;
}
#introduction #header{

	/*font-weight: bold;*/

	position: relative;
	left: 420px;
	top: 220px;

}

#introduction #content{
	font-size: 50px;
	text-align: center;
	padding: 190px 340px 0px 0px;
	line-height: 150%;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{

	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#fff;
}
.login-form{
	/*text-align: center;*/
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input{
	width:100%;
	color:#fff;
	display:block;
}

.login-form .group .button{
	width:100%;
	color: #885EAD;
	display:block;
}


.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;

}

*:focus{
	/*text-security:circle;
	-webkit-text-security:circle;*/
	outline-color: #e2e1dd;
	
}
.login-form .group .label{
	color:#e2e1dd;
	font-size:12px;
}
.login-form .group .button{
	background:#e2e1dd;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	/*background:rgba(255,255,255,.2);*/
	background: #e2e1dd;
	opacity: 0.5;
}
.foot-lnk{
	text-align:center;
}
